# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

CMakeLists.txt.user
CMakeLists_modified.txt

orbslam3/Examples/RGB-D/rgbd_tum
orbslam3/Examples/RGB-D/rgbd_realsense_D435i

orbslam3/Examples/RGB-D-Inertial/rgbd_inertial_realsense_D435i

orbslam3/Examples/Monocular/mono_realsense_D435i
orbslam3/Examples/Monocular/mono_euroc
orbslam3/Examples/Monocular/mono_kitti
orbslam3/Examples/Monocular/mono_tum
orbslam3/Examples/Monocular/mono_tum_vi
orbslam3/Examples/Monocular/mono_realsense_t265

orbslam3/Examples/Stereo/stereo_euroc
orbslam3/Examples/Stereo/stereo_kitti
orbslam3/Examples/Stereo/stereo_tum_vi
orbslam3/Examples/Stereo/stereo_realsense_t265
orbslam3/Examples/Stereo/stereo_realsense_D435i

orbslam3/Examples/Monocular-Inertial/mono_inertial_euroc
orbslam3/Examples/Monocular-Inertial/mono_inertial_tum_vi
orbslam3/Examples/Monocular-Inertial/mono_inertial_realsense_t265
orbslam3/Examples/Monocular-Inertial/mono_inertial_realsense_D435i
orbslam3/Examples/Monocular-Inertial/mono_inertial_realsense_D435i_2

orbslam3/Examples/Stereo-Inertial/stereo_inertial_euroc
orbslam3/Examples/Stereo-Inertial/stereo_inertial_tum_vi
orbslam3/Examples/Stereo-Inertial/stereo_inertial_realsense_t265
orbslam3/Examples/Stereo-Inertial/stereo_inertial_realsense_D435i


orbslam3/Examples/ROS/ORB_SLAM3/Mono
orbslam3/Examples/ROS/ORB_SLAM3/Mono_Inertial
orbslam3/Examples/ROS/ORB_SLAM3/MonoAR
orbslam3/Examples/ROS/ORB_SLAM3/RGBD
orbslam3/Examples/ROS/ORB_SLAM3/Stereo
orbslam3/Examples/ROS/ORB_SLAM3/Stereo_Inertial

orbslam3/Examples/Calibration/recorder_realsense_D435i

orbslam3/Examples/Tests/viewer_dataset
orbslam3/Examples/Tests/sophus_test

orbslam3/Examples/ROS/ORB_SLAM3/CMakeLists.txt.user
orbslam3/Examples/ROS/ORB_SLAM3/build/

orbslam3/KeyFrameTrajectory.txt
orbslam3/CameraTrajectory.txt
orbslam3/CameraTrajectoryOrbslam3.txt
orbslam3/KeyFrameTrajectoryOrbslam3.txt
orbslam3/report/*
kf_*.txt
f_*.txt
orbslam3/Thirdparty/DBoW2/build/
orbslam3/Thirdparty/DBoW2/lib/
orbslam3/Thirdparty/g2o/build/
orbslam3/Thirdparty/g2o/config.h
orbslam3/Thirdparty/g2o/lib/
orbslam3/Vocabulary/ORBvoc.txt
orbslam3/build/

orbslam3/lib/

orbslam3/cmake_modules/
orbslam3/cmake-build-debug/

ExecMean.txt
SessionInfo.txt
Results_Euroc.txt
LBA_Stats.txt
LocalMapTimeStats.txt
TrackLocalMapStats.txt
TrackingTimeStats.txt
time*
Time*
Table_Euroc
Table_TUMVI_rooms/
*.pyc
*.osa
.idea/
my_settings.txt

borrar/*

*/ExecMean.txt

.vscode/